.footer {
  background-color: rgba(0, 0, 0, 7%);
  padding: 2rem 0;
}

.footer .container {
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}

.footer__logo {
  filter: grayscale() brightness(0.8);
  height: 3rem;
  cursor: pointer;
}

.footer__socials {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1rem;
}

.footer__socials__handle ::ng-deep svg {
  color: var(--fg-color);
  height: 2rem;
}

@media (max-width: 576px) {
  .footer .container {
    padding: 0.5rem;
  }
}
