.button {
  padding: 0.5rem;
  outline: transparent;
  line-height: 1em;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--bg-color);
  background-color: var(--accent-color);
  border-radius: 0.5rem;
}

@media (max-width: 576px) {
  .button {
    font-size: 1.25rem;
  }
}

.top {
  padding: 8px 0px;
  margin-bottom: 4rem;
  gap: 1rem;
}

.top__logo {
  width: 3rem;
  height: 3rem;
  background-color: var(--fg-color);
  border-radius: 50%;
}

.top__title,
.top__login,
.top__signin {
  text-decoration: none;
  color: var(--fg-color);
}

.top__title {
  font-size: 1.5rem;
  line-height: 1em;
  font-weight: 500;
}

.top__login,
.top__signin {
  width: 5.5rem;
  text-align: center;
  padding: 0.25rem 0.5rem;
  border-radius: 12px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1em;
}

.top__login {
  margin-left: auto;
  border: 1px solid black;
}

.top__signin {
  color: var(--bg-color);
  background-color: var(--accent-color);
}

@media (max-width: 576px) {
  .top {
    padding: 8px;
    margin-bottom: 3rem;
  }

  .top__logo {
    width: 2.5rem;
    height: 2.5rem;
  }

  .top__title {
    display: none;
  }
}

.hero {
  margin-bottom: 4rem;
}

.hero__text {
  width: var(--col5);
}

.hero__text__heading {
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.hero__text__description {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.hero__graphics {
  margin-left: var(--col1);
  width: var(--col6);
}

#freepik--background-simple--inject-56 {
  visibility: visible;
}

@media (max-width: 1399px) {
  #freepik--background-simple--inject-56 {
    visibility: hidden;
  }

  body::before {
    z-index: -1;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 60%;
    height: 100%;
    background-image: url("../assets/images/blob-bg.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
  }
}

@media (max-width: 991px) {
  .hero__graphics {
    margin-left: 0;
    margin-bottom: 4rem;
    width: var(--col12);
    order: 1;
  }

  .hero__text {
    width: var(--col12);
    order: 2;
  }
}

@media (max-width: 576px) {
  .hero {
    padding: 0.5rem;
    margin-bottom: 3rem;
  }

  .hero__graphics {
    margin-bottom: 2rem;
  }

  .hero__text__heading {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  .hero__text__description {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  body::before {
    width: 100%;
  }
}

.developers__heading {
  display: block;
  width: 100%;
  margin-bottom: 1.5rem;
  text-align: center;
  font-weight: 500;
  font-size: 2.5rem;
}

.developers__list {
  width: 100%;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  position: relative;
  border: 1px solid black;
  border-radius: 1.5rem;
  padding: 1.5rem;
  width: 20rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--bg-color);
}

.card::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background-color: var(--accent-color);
  opacity: 20%;
  top: 0;
  left: 0;
  transform: scale(1.1);
}

.card:nth-child(1)::before {
  border-radius: 83% 17% 47% 53% / 57% 22% 78% 43%;
}

.card:nth-child(2)::before {
  border-radius: 64% 36% 53% 47% / 55% 40% 60% 45%;
}

.card:nth-child(3)::before {
  border-radius: 28% 72% 23% 77% / 70% 35% 65% 30%;
}

.card__profile {
  width: 3rem;
  height: 3rem;
  border-radius: 2.5rem;
  margin-right: 1rem;
}

.card__dev__name {
  font-size: 1rem;
  font-weight: 500;
}

.card__dev__role {
  color: #666666;
  margin-top: 0.25rem;
  font-weight: 400;
  font-size: 0.75rem;
}

.card__qoute {
  width: 100%;
  margin-top: 1rem;
}

@media (max-width: 1199px) {
  .card {
    padding: 1rem;
    width: 18rem;
  }

  .card__qoute {
    margin-top: 0.5rem;
  }
}

@media (max-width: 991px) {
  .developers__list {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .card {
    padding: 1.5rem;
    width: 20rem;
  }

  .card__qoute {
    margin-top: 1rem;
  }
}
